.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
}

.skills-header {
    margin-bottom: 20px;
    font-size: 2em;
}
 /* span{
    color: yellow;
} */